/*postitioning of the DIVs */
#Science,#listscience {
	width: 50%;
	float: Left;
	}

#NonScience,#listNscience {
	width: 50%;
	float: Right;


}

#importantbutton,#title{	
	text-align: center;

}

#ScienceTitle {
	width: 50%;
	float: Left;
	font-size: 50px;
	color: purple;
	}

#NonScienceTitle {
	width: 50%;
	float: Right;
	font-size: 50px;
	color: green;

}

#overall {
	width: 30%;
	float: Left;
	}

#sciencegpa {
	width: 30%;
	float: Right;


}
#BCP {
	width: 30%;
	float: Right;


}
/*size of directions */
#dir1,#dir2,#dir3 {
	font-weight: bold;
	font-size: 30px;
	font-family: "Times New Roman"
}

#dir2 {
	color: purple;

}
#dir3 {
	color: green;

}
/*delete buttons and submit button */
#delete, #delete1 {
	font-weight: bold;
	font-size: 15px;
}

#importantbutton1{
	font-weight: bold;
	font-size: 30px;
}
